.main {
    background-image: url(../img/bg-main.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}

.container {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.hero {
    width: 434px;
}

.hero-header {
    font-size: 64px;
    line-height: 89px;
    color: rgb(255, 255, 255);
    margin-top: 0;
    margin-bottom: 0;
}

.upper {
    font-family: 'Paytone One';
    text-transform: uppercase;
}

.hero-sub-header {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Paytone One";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: rgb(255, 255, 255);
}

.hero-text {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 27px;
    color: rgb(255, 255, 255);
}

.form-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.email-input {
    background-color: transparent;
    width: 291px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 35px;
    font-family: "Pavanam";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgb(0, 0, 0);
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 50px;
}

.form-btn {
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: transparent;
    width: 123px;
    border: 2px solid rgb(255, 22, 64);
    border-radius: 50px;
    font-family: "Pavanam";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.4);
}

.section-hero {
    transform: translateY(-584px);
    width: 994px;
    padding-top: 76px;
    padding-bottom: 120px;
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(180deg, rgba(50, 42, 39, 0) 0%, rgba(45, 40, 40, 0.85) 33.85%, rgb(45, 40, 40) 49.48%, rgb(45, 40, 40) 68.75%, rgb(45, 40, 40) 82.29%, rgb(45, 40, 40) 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: -15px 0px 15px rgba(0, 0, 0, 0.3);
}

.line {
    width: 100%;
    height: 1px;
    margin-top: 79px;
    background-color: rgba(255, 255, 255, 0.2);
}

.social-menu-list {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    padding: 0;
}

.marketing-menu-list {
    position: relative;
    width: 798px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 148px;
    padding: 0;
}

.menu-item:last-child {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-145px, -62px);
}

.marketing {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.marketing-text {
    font-family: 'Paytone One';
    font-size: 25px;
    line-height: 35px;
    margin-right: 6px;
    margin-bottom: 0;
    color: rgb(255, 255, 255);
}

.dashed {
    display: block;
    width: 266px;
    border: 1px dashed rgba(255, 255, 255, 0.75);
    margin-right: 10px;
}

.start-link {
    width: 142px;
    height: 27px;
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding-right: 16px;
    padding-left: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-image: url(../img/start-bg.png);
}

.start-link:before {
    content: "_";
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(../img/text.png);
}

.notification {
    margin-top: 60px;
}

.notification__notification-top {
    width: 453px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification-top__notification-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    color: rgb(255, 255, 255);
    margin: 0;
}

.notification-top__notification-text:before {
    content: "1";
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 22, 64);
    color: rgb(255, 255, 255);
    border-radius: 17px;
    margin-right: 9px;
    font-size: 18px;
    line-height: 1;
}

.notification-top__notification-link {
    width: 131px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(196, 196, 196);
    color: rgb(45, 40, 40);
    border-radius: 50px;
    font-size: 17px;
    text-decoration: none;
}

.notification-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification-body__notification-body-left {
    width: 453px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(181, 182, 184);
    background-image: url(../img/profile-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 25px;
    padding-top: 19px;
    padding-right: 16px;
    padding-bottom: 23px;
    padding-left: 17px;
}

.profile {
    position: relative;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile::before {
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../img/vscode-icons.png);
    content: "";
    bottom: -5px;
    margin-left: 42px;
}

.user-name {
    margin-left: 12px;
    font-family: cursive;
}

.name {
    margin: 0;
    font-family: 'Paytone One';
    color: rgb(45, 40, 40);
    font-size: 18px;
    line-height: 27px;
}

.status {
    margin: 0;
    margin-top: -5px;
    font-size: 18px;
    line-height: 27px;
    color: rgba(45, 40, 40, 0.7);
}

.opinion {
    width: 251px;
}

.opinion-head {
    margin: 0;
    margin-top: 9px;
    font-size: 22px;
    line-height: 33px;
    color: rgb(45, 40, 40);
}

.notification-body__notification-body-right {
    width: 315px;
    color: rgb(255, 255, 255);
    opacity: 0.7;
}

.notification-top {
    display: flex;
    width: 453px;
    align-items: center;
    justify-content: space-between;
}

.notification-text {
    position: relative;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: rgb(255, 255, 255);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.link-unread {
    padding-left: 16px;
    padding-right: 5px;
}

.notification-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgb(45, 40, 40);
    width: 131px;
    height: 35px;
    background-color: rgb(196, 196, 196);
    border-radius: 50px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 27px;
}

.switch input {
    display: none;
}

.notification-body-left {
    width: 453px;
    background-color: #B5B6B8;
    background-image: url(../../img/profile-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 25px;
    padding-top: 19px;
    padding-right: 16px;
    padding-bottom: 23px;
    padding-left: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}